<div>
    <img class="py-5" src="./assets/soupstewchili.webp" width=100%>
</div>

<nav class="navbar navbar-expand-lg bg-body-tertiary py-0">
    <div class="container justify-content-center">
        <div class="d-flex py-2 justify-content-center">
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item dropdown red-underline">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            Recipes
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>

<h1 class="py-2 my-3 big-title">Soups, Stews and Chili</h1>
<p style="text-align: center">Find recipes for hearty favorites like chicken tortilla soup, beef stew, white chicken chili, and more.</p>


<nav class="navbar navbar-expand-lg bg-body-tertiary py-0">
    <div class="container justify-content-center">
        <div class="d-flex py-2 justify-content-center">
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item dropdown red-underline">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            Soup
                        </a>
                    </li>
                    <li class="nav-item dropdown red-underline">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            Broth and Stocks
                        </a>
                    </li>
                    <li class="nav-item dropdown red-underline">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            Chili
                        </a>
                    </li>
                    <li class="nav-item dropdown red-underline">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            Chowder
                        </a>
                    </li>
                    <li class="nav-item dropdown red-underline">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            Bisque
                        </a>
                    </li>
                    <li class="nav-item dropdown red-underline">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            Stew
                        </a>
                    </li>
                    <li class="nav-item dropdown red-underline">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            Healthy Soups and Stews
                        </a>
                    </li>
                    <li class="nav-item dropdown red-underline">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            Main Dish Soups and Stews
                        </a>
                    </li>
                    <li class="nav-item dropdown red-underline">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            Chicken Noodle Soup
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>