<section class="px-1 mx-auto" style="width:80rem;">
    <h1 class="py-3 my-3 big-title">Top Football Foods</h1>
    <div class="container">
        <div class="row row-cols-1 row-cols-md-3 g-4">
            <div *ngFor="let card of sixcards">
                <div class="col">
                    <app-six-card img={{card.img}} category={{card.category}} cardtitle={{card.cardtitle}} ratings={{card.ratings}}></app-six-card>
                </div>
            </div>
        </div>
    </div>
</section>