<section class="px-1 mx-auto" style="width:80rem;">
    <h1 class="py-3 my-3 big-title">Top Football Foods</h1>
    <div class="container">
        <div class="row row-cols-1 row-cols-md-3 g-4">
            <div class="col">
                <div class="card border-0">
                    <img src="assets/buffalochicken.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="grey-category">BUFFALO CHICKEN DIP RECIPES</h5>
                        <h3 class="card-title red-underline my-1">Buffalo Chicken Dip</h3>
                        <div class="container px-0">
                            <svg class="bi" width="20" height="20" fill="#d54215">
                                <use xlink:href="./assets/bootstrap-icons.svg#star-fill" />
                            </svg>
                            <svg class="bi" width="20" height="20" fill="#d54215">
                                <use xlink:href="./assets/bootstrap-icons.svg#star-fill" />
                            </svg>
                            <svg class="bi" width="20" height="20" fill="#d54215">
                                <use xlink:href="./assets/bootstrap-icons.svg#star-fill" />
                            </svg>
                            <svg class="bi" width="20" height="20" fill="#d54215">
                                <use xlink:href="./assets/bootstrap-icons.svg#star-fill" />
                            </svg>
                            <svg class="bi" width="20" height="20" fill="#d54215">
                                <use xlink:href="./assets/bootstrap-icons.svg#star-fill" />
                            </svg>
                            <p class="mx-1 review-text" style="display: inline-block;">5,074 Ratings</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card border-0">
                    <img src="assets/guacamole.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="grey-category">GUACAMOLE RECIPES</h5>
                        <h3 class="card-title red-underline my-1">Guacamole</h3>
                        <div class="container px-0">
                            <svg class="bi" width="20" height="20" fill="#d54215">
                                <use xlink:href="./assets/bootstrap-icons.svg#star-fill" />
                            </svg>
                            <svg class="bi" width="20" height="20" fill="#d54215">
                                <use xlink:href="./assets/bootstrap-icons.svg#star-fill" />
                            </svg>
                            <svg class="bi" width="20" height="20" fill="#d54215">
                                <use xlink:href="./assets/bootstrap-icons.svg#star-fill" />
                            </svg>
                            <svg class="bi" width="20" height="20" fill="#d54215">
                                <use xlink:href="./assets/bootstrap-icons.svg#star-fill" />
                            </svg>
                            <svg class="bi" width="20" height="20" fill="#d54215">
                                <use xlink:href="./assets/bootstrap-icons.svg#star-fill" />
                            </svg>
                            <p class="mx-1 review-text" style="display: inline-block;">7,578 Ratings</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card border-0">
                    <img src="assets/homemadechili.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="grey-category">BEEF CHILI RECIPES</h5>
                        <h3 class="card-title red-underline my-1">Easy Homemade Chili</h3>
                        <div class="container px-0">
                            <svg class="bi" width="20" height="20" fill="#d54215">
                                <use xlink:href="./assets/bootstrap-icons.svg#star-fill" />
                            </svg>
                            <svg class="bi" width="20" height="20" fill="#d54215">
                                <use xlink:href="./assets/bootstrap-icons.svg#star-fill" />
                            </svg>
                            <svg class="bi" width="20" height="20" fill="#d54215">
                                <use xlink:href="./assets/bootstrap-icons.svg#star-fill" />
                            </svg>
                            <svg class="bi" width="20" height="20" fill="#d54215">
                                <use xlink:href="./assets/bootstrap-icons.svg#star-fill" />
                            </svg>
                            <svg class="bi" width="20" height="20" fill="#d54215">
                                <use xlink:href="./assets/bootstrap-icons.svg#star-half" />
                            </svg>
                            <p class="mx-1 review-text" style="display: inline-block;">461 Ratings</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card border-0">
                    <img src="assets/sevenlayertaco.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="grey-category">COLD CHEESE DIP RECIPES</h5>
                        <h3 class="card-title">Seven-Layer Taco Dip</h3>
                        <div class="container px-0">
                            <svg class="bi" width="20" height="20" fill="#d54215">
                                <use xlink:href="./assets/bootstrap-icons.svg#star-fill" />
                            </svg>
                            <svg class="bi" width="20" height="20" fill="#d54215">
                                <use xlink:href="./assets/bootstrap-icons.svg#star-fill" />
                            </svg>
                            <svg class="bi" width="20" height="20" fill="#d54215">
                                <use xlink:href="./assets/bootstrap-icons.svg#star-fill" />
                            </svg>
                            <svg class="bi" width="20" height="20" fill="#d54215">
                                <use xlink:href="./assets/bootstrap-icons.svg#star-fill" />
                            </svg>
                            <svg class="bi" width="20" height="20" fill="#d54215">
                                <use xlink:href="./assets/bootstrap-icons.svg#star-fill" />
                            </svg>
                            <p class="mx-1 review-text" style="display: inline-block;">2,812 Ratings</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card border-0">
                    <img src="assets/pulledpork.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="grey-category">PULLED PORK</h5>
                        <h3 class="card-title red-underline my-1">Slow Cooker Texas Pulled Pork</h3>
                        <div class="container px-0">
                            <svg class="bi" width="20" height="20" fill="#d54215">
                                <use xlink:href="./assets/bootstrap-icons.svg#star-fill" />
                            </svg>
                            <svg class="bi" width="20" height="20" fill="#d54215">
                                <use xlink:href="./assets/bootstrap-icons.svg#star-fill" />
                            </svg>
                            <svg class="bi" width="20" height="20" fill="#d54215">
                                <use xlink:href="./assets/bootstrap-icons.svg#star-fill" />
                            </svg>
                            <svg class="bi" width="20" height="20" fill="#d54215">
                                <use xlink:href="./assets/bootstrap-icons.svg#star-fill" />
                            </svg>
                            <svg class="bi" width="20" height="20" fill="#d54215">
                                <use xlink:href="./assets/bootstrap-icons.svg#star-half" />
                            </svg>
                            <p class="mx-1 review-text" style="display: inline-block;">3,099 Ratings</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card border-0">
                    <img src="assets/baconjalapeno.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="grey-category">JALAPENO POPPER RECIPES</h5>
                        <h3 class="card-title red-underline my-1">Bacon-Wrapped Jalapeño Poppers</h3>
                        <div class="container px-0">
                            <svg class="bi" width="20" height="20" fill="#d54215">
                                <use xlink:href="./assets/bootstrap-icons.svg#star-fill" />
                            </svg>
                            <svg class="bi" width="20" height="20" fill="#d54215">
                                <use xlink:href="./assets/bootstrap-icons.svg#star-fill" />
                            </svg>
                            <svg class="bi" width="20" height="20" fill="#d54215">
                                <use xlink:href="./assets/bootstrap-icons.svg#star-fill" />
                            </svg>
                            <svg class="bi" width="20" height="20" fill="#d54215">
                                <use xlink:href="./assets/bootstrap-icons.svg#star-fill" />
                            </svg>
                            <svg class="bi" width="20" height="20" fill="#d54215">
                                <use xlink:href="./assets/bootstrap-icons.svg#star" />
                            </svg>
                            <p class="mx-1 review-text" style="display: inline-block;">468 Ratings</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>