<div>
    <img class="py-5" src="./assets/onepotmeal.webp" width=100%>
</div>

<nav class="navbar navbar-expand-lg bg-body-tertiary py-0">
    <div class="container justify-content-center">
        <div class="d-flex py-2 justify-content-center">
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item dropdown red-underline">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            Recipes
                        </a>
                    </li>
                    <li class="nav-item dropdown red-underline">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            Everyday Cooking
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>

<h1 class="py-2 my-3 big-title">One-Pot Meals</h1>
<p style="text-align: center">The easiest way to make dinner is with these convenient one-pot meals. You don't have to dirty another pot with these recipes.</p>

<main>
    <section class="py-5 greenish">
<div class="row container mx-auto">
    <div class="col g-1">
        <div class="card border-0" style="width: 50rem;">
            <img src="assets/16onepot.webp" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="grey-category">ONE-POT MEAL RECIPES</h5>
                <h3 class="card-title red-underline" role="button">16 One-Pot Dinners Ready in Less Than an Hour</h3>
            </div>
        </div>
    </div>
    <div class="col-4 my-2 sidebar" style="height: 500px;">
        <div class="card border-0 mb-2 mx-auto" style="max-width: 400px; background-color: transparent;">
            <div class="row g-0">
                <div class="col-md-4 center-image">
                    <a href="#">
                        <img src="assets/11simpleonepot.webp" class="m-2" alt="...">
                    </a>
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title red-underline four-right-titles">
                            11 Simple One-Pot Meals Starring Brussels Sprouts</h5>
                    </div>
                </div>
            </div>
        </div>
        <div class="card border-0 mb-2 mx-auto" style="max-width: 400px; background-color: transparent;">
            <div class="row g-0">
                <div class="col-md-4 center-image">
                    <a href="#">
                        <img src="assets/19family-friendly.webp" class="m-2" alt="...">
                    </a>
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title red-underline four-right-titles">19 Family-Friendly One-Pot Dinners</h5>
                    </div>
                </div>
            </div>
        </div>
        <div class="card border-0 mb-2 mx-auto" style="max-width: 400px; background-color: transparent;">
            <div class="row g-0">
                <div class="col-md-4 center-image">
                    <a href="#">
                        <img src="assets/10easyone-dish.webp" class="m-2" alt="...">
                    </a>
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title red-underline four-right-titles">10 Easy One-Dish Pork Chop Dinners</h5>
                    </div>
                </div>
            </div>
        </div>
        <div class="card border-0 mb-2 mx-auto" style="max-width: 400px; background-color: transparent;">
            <div class="row g-0">
                <div class="col-md-4 center-image">
                    <a href="#">
                        <img src="assets/20quickneasy.webp" class="m-2" alt="...">
                    </a>
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title red-underline four-right-titles">20 Quick and Easy Chicken Skillet Dinners
                        </h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</section>
</main>


<app-four-across-grid [list] = "listName"></app-four-across-grid>