<app-nav-bar> loafing... </app-nav-bar>
<app-second-nav-bar> loaffing... </app-second-nav-bar>

<app-big-left-four-right> LOAFFING... </app-big-left-four-right>

<app-grid-six> BIG OLD LOAFFING... </app-grid-six>

<app-six-card img="./assets/buffalochicken.jpg" category="BUFFALO CHICKEN DIP RECIPES" cardtitle="Buffalo Chicken Dip" ratings="5,074">hh</app-six-card>
<div *ngFor="let card of sixcards">
    <app-six-card img={{card.img}} category={{card.category}} cardtitle={{card.cardtitle}} ratings={{card.ratings}}></app-six-card>
</div>