<div>
    <img class="py-5" src="./assets/fiveingredient.jpg" width=100%>
</div>

<nav class="navbar navbar-expand-lg bg-body-tertiary py-0">
    <div class="d-flex py-2 justify-content-center">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item dropdown red-underline">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        Everyday Cooking
                    </a>
                </li>
                <li class="nav-item dropdown red-underline">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                    aria-expanded="false">
                    More Meal Ideas
                    </a>
                </li>
                <li class="nav-item dropdown red-underline">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        5 Ingredients
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>