<div>
    <img class="py-5" src="./assets/fiveingredient.jpg" width=100%>
</div>

<nav class="navbar navbar-expand-lg bg-body-tertiary py-0">
    <div class="container justify-content-center">
    <div class="d-flex py-2 justify-content-center">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item dropdown red-underline">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        Everyday Cooking
                    </a>
                </li>
                <li class="nav-item dropdown red-underline">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                    aria-expanded="false">
                    More Meal Ideas
                    </a>
                </li>
                <li class="nav-item dropdown red-underline">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        5 Ingredients
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
</nav>

<h1 class="py-3 my-3 big-title">5 Ingredient Main Dishes</h1>
<p style="text-align: center">A big part of simple cooking is a short ingredient list. Here are more than 860 main dish recipes with 5 ingredients or less that are not short on flavor.</p>

<main>
    <section class="py-5 greenish">
<div class="row container mx-auto">
    <div class="col g-1">
        <div class="card border-0" style="width: 50rem;">
            <img src="assets/18easymexican.webp" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="grey-category">MEXICAN</h5>
                <h3 class="card-title red-underline" role="button">18 Easy Mexican Dishes with 5 Ingredients or Less</h3>
            </div>
        </div>
    </div>
    <div class="col-4 my-2 sidebar" style="height: 500px;">
        <div class="card border-0 mb-2 mx-auto" style="max-width: 350px; background-color: transparent;">
            <div class="row g-0">
                <div class="col-md-4 center-image">
                    <a href="#">
                        <img src="assets/5-ingredientslow-cooker.webp" class="m-2" alt="...">
                    </a>
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title red-underline four-right-titles">
                            5-Ingredient Slow-Cooker Recipes for Basically Every Occasion</h5>
                    </div>
                </div>
            </div>
        </div>
        <div class="card border-0 mb-2 mx-auto" style="max-width: 350px; background-color: transparent;">
            <div class="row g-0">
                <div class="col-md-4 center-image">
                    <a href="#">
                        <img src="assets/12topchickenbreast.webp" class="m-2" alt="...">
                    </a>
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title red-underline four-right-titles">12 Top Chicken Breast Dinners That Use 5 Ingredients or Less</h5>
                    </div>
                </div>
            </div>
        </div>
        <div class="card border-0 mb-2 mx-auto" style="max-width: 350px; background-color: transparent;">
            <div class="row g-0">
                <div class="col-md-4 center-image">
                    <a href="#">
                        <img src="assets/20easy5-ingredient.webp" class="m-2" alt="...">
                    </a>
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title red-underline four-right-titles">20 Easy 5-Ingredient Casseroles to Save Time and Money</h5>
                    </div>
                </div>
            </div>
        </div>
        <div class="card border-0 mb-2 mx-auto" style="max-width: 350px; background-color: transparent;">
            <div class="row g-0">
                <div class="col-md-4 center-image">
                    <a href="#">
                        <img src="assets/10easydinners.webp" class="m-2" alt="...">
                    </a>
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title red-underline four-right-titles">10 Easy Dinners You Can Make With 5 Ingredients or Less
                        </h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</section>
</main>

