<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item dropdown red-underline">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Dinners
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="#">5-Ingredient Dinners</a></li>
                  <li><a class="dropdown-item" href="#">One-Pot Meals</a></li>
                  <li><a class="dropdown-item" href="#">Quick & Easy</a></li>
                  <li><a class="dropdown-item" href="#">30-Minute Meals</a></li>
                  <li><a class="dropdown-item" href="#">Soups, Stews, & Chili</a></li>
                  <li><a class="dropdown-item" href="#">Comfort Food</a></li>
                  <li><a class="dropdown-item" href="#">Main Dishes</a></li>
                  <li><a class="dropdown-item" href="#">Sheet Pan Dinners</a></li>
                </ul>
            </li>
            <li class="nav-item dropdown red-underline">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Meals
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="#">Breakfast</a></li>
                  <li><a class="dropdown-item" href="#">Lunch</a></li>
                  <li><a class="dropdown-item" href="#">Healthy</a></li>
                  <li><a class="dropdown-item" href="#">Appetizers</a></li>
                  <li><a class="dropdown-item" href="#">Salads</a></li>
                  <li><a class="dropdown-item" href="#">Side Dishes</a></li>
                  <li><a class="dropdown-item" href="#">Soups</a></li>
                  <li><a class="dropdown-item" href="#">Bread</a></li>
                  <li><a class="dropdown-item" href="#">Drinks</a></li>
                  <li><a class="dropdown-item" href="#">Dessert</a></li>
                </ul>
            </li>
            <li class="nav-item dropdown red-underline">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Ingredients
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="#">Chicken</a></li>
                  <li><a class="dropdown-item" href="#">Beef</a></li>
                  <li><a class="dropdown-item" href="#">Pork</a></li>
                  <li><a class="dropdown-item" href="#">Seafood</a></li>
                  <li><a class="dropdown-item" href="#">Pasta</a></li>
                  <li><a class="dropdown-item" href="#">Fruits</a></li>
                  <li><a class="dropdown-item" href="#">Vegetable</a></li>
                </ul>
            </li>
            <li class="nav-item dropdown red-underline">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Occasions
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="#">Lunar New Year</a></li>
                  <li><a class="dropdown-item" href="#">Recipes for the Super Bowl</a></li>
                  <li><a class="dropdown-item" href="#">Valentine's Day</a></li>
                  <li><a class="dropdown-item" href="#">Mardi Gras</a></li>
                  <li><a class="dropdown-item" href="#">St. Patrick's Day</a></li>
                </ul>
            </li>
            <li class="nav-item dropdown red-underline">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Cuisines
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="#">Mexican</a></li>
                  <li><a class="dropdown-item" href="#">Italian</a></li>
                  <li><a class="dropdown-item" href="#">Chinese</a></li>
                  <li><a class="dropdown-item" href="#">Indian</a></li>
                  <li><a class="dropdown-item" href="#">German</a></li>
                  <li><a class="dropdown-item" href="#">Greek</a></li>
                  <li><a class="dropdown-item" href="#">Filipino</a></li>
                  <li><a class="dropdown-item" href="#">Japanese</a></li>
                </ul>
            </li>
            <li class="nav-item dropdown red-underline">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Kitchen Tips
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="#">Instant Pot</a></li>
                  <li><a class="dropdown-item" href="#">Air Fryer</a></li>
                  <li><a class="dropdown-item" href="#">Slow Cooker</a></li>
                  <li><a class="dropdown-item" href="#">Product Reviews</a></li>
                  <li><a class="dropdown-item" href="#">BBQ & Grilling</a></li>
                  <li><a class="dropdown-item" href="#">Cookware & Equipment</a></li>
                  <li><a class="dropdown-item" href="#">Ingredient Substitutions</a></li>
                </ul>
            </li>
            <li class="nav-item dropdown red-underline">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  News
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="#">Recalls</a></li>
                  <li><a class="dropdown-item" href="#">We Tried It</a></li>
                  <li><a class="dropdown-item" href="#">Grocery</a></li>
                  <li><a class="dropdown-item" href="#">Trends</a></li>
                  <li><a class="dropdown-item" href="#">Celebrity & Entertainment</a></li>
                </ul>
            </li>
            <li class="nav-item dropdown red-underline">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Features
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="#">Dinner Fix</a></li>
                  <li><a class="dropdown-item" href="#">Sweet Spot</a></li>
                  <li><a class="dropdown-item" href="#">In the Kitchen</a></li>
                </ul>
            </li>
            <li class="nav-item dropdown red-underline">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  About Us
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="#">About Allrecipes</a></li>
                  <li><a class="dropdown-item" href="#">Allstars</a></li>
                  <li><a class="dropdown-item" href="#">How to Add a Recipe</a></li>
                  <li><a class="dropdown-item" href="#">Our Apps</a></li>
                </ul>
            </li>
        </ul>
        <a class="red-underline" style="color: #d54215"><b>GET THE MAGAZINE</b></a>
      </div>
    </div>
  </nav>