<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item dropdown red-underline">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Dinners
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="#">5-Ingredient Dinners</a></li>
                  <li><a class="dropdown-item" href="#">One-Pot Meals</a></li>
                  <li><a class="dropdown-item" href="#">Quick & Easy</a></li>
                  <li><a class="dropdown-item" href="#">30-Minute Meals</a></li>
                  <li><a class="dropdown-item" href="#">Soups, Stews, & Chili</a></li>
                  <li><a class="dropdown-item" href="#">Comfort Food</a></li>
                  <li><a class="dropdown-item" href="#">Main Dishes</a></li>
                  <li><a class="dropdown-item" href="#">Sheet Pan Dinners</a></li>
                </ul>
            </li>
            <li class="nav-item dropdown red-underline">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Meals
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="#">Breakfast</a></li>
                  <li><a class="dropdown-item" href="#">Lunch</a></li>
                  <li><a class="dropdown-item" href="#">Healthy</a></li>
                  <li><a class="dropdown-item" href="#">Appetizers</a></li>
                  <li><a class="dropdown-item" href="#">Salads</a></li>
                  <li><a class="dropdown-item" href="#">Side Dishes</a></li>
                  <li><a class="dropdown-item" href="#">Soups</a></li>
                  <li><a class="dropdown-item" href="#">Bread</a></li>
                  <li><a class="dropdown-item" href="#">Drinks</a></li>
                  <li><a class="dropdown-item" href="#">Dessert</a></li>
                </ul>
            </li>
        </ul>
        <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      </div>
    </div>
  </nav>