<main>
    <section class="py-5">
<div class="row container mx-auto">
    <div class="col g-1">
        <div class="card border-0" style="width: 50rem;">
            <img src="assets/chickeninatrophy.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="grey-category">IN THE KITCHEN</h5>
                <h3 class="card-title red-underline" role="button">Chicken Wing Champions</h3>
                <p class="card-text">From cooking hacks to secret ingredients to all the dipping sauces—we’ve got the
                    winning playbook for the Super Bowl's most popular party snack.</p>
            </div>
        </div>
    </div>
    <div class="col-4 my-2 sidebar">
        <h2 class="big-bold-angular my-3">News & Trending</h2>
        <div class="card border-0 mb-2 mx-auto" style="max-width: 350px; background-color: transparent;">
            <div class="row g-0">
                <div class="col-md-4 center-image">
                    <a href="#">
                        <img src="assets/winnerchickendinner.jpg" class="m-2" alt="...">
                    </a>
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title red-underline four-right-titles">Winner Winner Chicken Dinner: Our Top New Recipe Broke Records Last Week</h5>
                    </div>
                </div>
            </div>
        </div>
        <div class="card border-0 mb-2 mx-auto" style="max-width: 350px; background-color: transparent;">
            <div class="row g-0">
                <div class="col-md-4 center-image">
                    <a href="#">
                        <img src="assets/customranch.jpg" class="m-2" alt="...">
                    </a>
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title red-underline four-right-titles">Candy Hearts and Custom Ranch for Your Pizza? We Can Explain.</h5>
                    </div>
                </div>
            </div>
        </div>
        <div class="card border-0 mb-2 mx-auto" style="max-width: 350px; background-color: transparent;">
            <div class="row g-0">
                <div class="col-md-4 center-image">
                    <a href="#">
                        <img src="assets/paneragood.jpg" class="m-2" alt="...">
                    </a>
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title red-underline four-right-titles">Panera Just Launched an Accessory--And I Hate That I Want It</h5>
                    </div>
                </div>
            </div>
        </div>
        <div class="card border-0 mb-2 mx-auto" style="max-width: 350px; background-color: transparent;">
            <div class="row g-0">
                <div class="col-md-4 center-image">
                    <a href="#">
                        <img src="assets/eggsarethere.jpg" class="m-2" alt="...">
                    </a>
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title red-underline four-right-titles">This App Is One of the Cheapest Places To Buy Eggs Right Now</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</section>
</main>

