<nav class="navbar navbar-expand-lg bg-body-tertiary px-5 py-3">
    <div class="container-fluid" style="max-width: 90%">
      <a class="navbar-brand" href="#">
        <img src="assets/logo.png" width="200"/>
      </a>

      <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
        <ul class="navbar-nav my-2">
          <li class="nav-item mx-4 my-2" style="height: 20px">          
            <svg class="bi" width="20" height="20" fill="currentColor">
            <use xlink:href="assets/bootstrap-icons.svg#search"/>
            </svg>
          </li>
          <li class="nav-item red-underline">
            <svg class="bi" width="20" height="20" fill="#d54215">
              <use xlink:href="assets/bootstrap-icons.svg#person-circle"/>
            </svg>
            <p class="nav-link active" aria-current="page" href="#" style="display: inline-block;">Log In</p>
          </li>
          <li class="nav-item dropdown red-underline">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Magazine
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Subscribe</a></li>
              <li><a class="dropdown-item" href="#">Manage Your Subscription</a></li>
              <li><a class="dropdown-item" href="#">Give a Gift Subscription</a></li>
              <li><a class="dropdown-item" href="#">Get Help</a></li>
            </ul>
          </li>
  
          <li class="nav-item red-underline">
            <a class="nav-link" href="#">Newsletter</a>
          </li>
          <li class="nav-item red-underline">
            <a class="nav-link">Sweepstakes</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>