<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <img src="assets/logo.png" width="200"/>
      </a>

      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item m-2">          
            <svg class="bi" width="20" height="40" fill="currentColor">
            <use xlink:href="assets/bootstrap-icons.svg#search"/>
            </svg>
          </li>
          <li class="nav-item">
            <svg class="bi" width="20" height="40" fill="red">
              <use xlink:href="assets/bootstrap-icons.svg#person-circle"/>
            </svg>
            <a class="nav-link active" aria-current="page" href="#">Log In</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Magazine
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Subscribe</a></li>
              <li><a class="dropdown-item" href="#">Manage Your Subscription</a></li>
              <li><a class="dropdown-item" href="#">Give a Gift Subscription</a></li>
              <li><a class="dropdown-item" href="#">Get Help</a></li>
            </ul>
          </li>
  
          <li class="nav-item">
            <a class="nav-link" href="#">Newsletter</a>
          </li>
          <li class="nav-item">
            <a class="nav-link">Sweepstakes</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>